---
title: EACL
layout: default
---
<!-- Featured -->
<div id="featured">
	<div class="container">
		<header>
			<h2>Welcome to the EACL!</h2>
		</header>
		<p>The European Chapter of the ACL (EACL) is the primary professional association for computational linguistics in Europe. It provides a number of services to its members and the community.</p>
		<hr />

		<div class="row">
			<section class="4u">
				<div class="featured-item">
				<div class="featured-item-pennant">
					<a href="/general/#welcome">
						<span class="pennant"><span class="fa fa-briefcase"></span></span>
						<h3 class="featured-item-header">About the EACL</h3>
					</a>
				</div>
				<div class="featured-item-text">
					<p>Founded in 1982, The European Chapter of the ACL (EACL) remains the primary professional association for computational linguistics in Europe.</p>
				</div>
				<a href="/general/#welcome" class="button button-style1">Read More</a>
				</div>
			</section>
			<section class="4u">
				<div class="featured-item">
				<div class="featured-item-pennant">
					<a href="https://2026.eacl.org/">
						<span class="pennant"><span class="fa fa-globe"></span></span>
						<h3 class="featured-item-header">EACL 2026</h3>
					</a>
				</div>
				<div class="featured-item-text">
					<p>The 19th Annual Meeting of the European chapter of the Association for Computational Linguistics (EACL) will take place in March 2026 in Rabat, Morocco.</p>
				</div>
				<a href="https://2026.eacl.org/" class="button button-style1">Read More</a>
				</div>
			</section>
			<section class="4u">
				<div class="featured-item">
				<div class="featured-item-pennant">
					<a href="/general/#officers">
						<span class="pennant"><span class="fa fa-envelope"></span></span>
						<h3 class="featured-item-header">Contacting EACL</h3>
					</a>
				</div>
				<div class="featured-item-text">
					<p>For general enquiries about EACL, email the secretary at <i>eacl-secretary@aclweb.org</i>. For specific enquiries, please contact the relevant EACL board member.</p>
				</div>
				<a href="/general/#officers" class="button button-style1">Read More</a>
				</div>
			</section>

		</div>
	</div>
</div>

<!-- Blog
	<div id="main">
		<div id="content" class="container">
			<div class="row">
			{% for post in site.posts offset: 0 limit: 2 %}
				<section class="6u">
					<a href="{{ site.prefix }}{{ post.url }}" class="image full"><img src="/assets/{{ post.featured }}" alt=""></a>
					<header>
						<h2>{{ post.title }}</h2>
					</header>
					<p>{{ post.excerpt }}</p>
				</section>
			{% endfor %}
			</div>

			<div class="row">
			{% for post in site.posts offset: 2 limit: 2 %}
				<section class="6u">
					<a href="{{ site.prefix }}{{ post.url }}" class="image full"><img src="/assets/{{ post.featured }}" alt=""></a>
					<header>
						<h2>{{ post.title }}</h2>
					</header>
					<p>{{ post.excerpt }}</p>
				</section>
			{% endfor %}
			</div>

		</div>
	</div>
-->
